:root {
  --secondary-color: #e9e2fa;
  --heading-family-font: "Montserrat", sans-serif;
  --default-family-font: "Raleway", sans-serif;
  --branding-color: #6c63ff;
}

.hero {
  background-color: var(--secondary-color);
  font-family: var(--default-family-font);
  text-align: center;
  padding: 160px 20px;
}

h1,
h2,
h3 {
  font-family: var(--heading-family-font);
}
.hero p {
  font-size: 36px;
  font-weight: 600;
}

.hero h1 {
  margin-bottom: 8px;
}
.hero h2 {
  margin-bottom: 48px;
}
h1 {
  font-size: 96px;
  font-weight: 900;
}
h2 {
  font-size: 24pxpx;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
